.shadow {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  align-items: center;
  justify-content: center;

  .content {
    background-color: #fff;
    padding: 34px;
    border-radius: 16px;
    position: relative;
    min-width: 50%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
  }
}
